
a {
    color: #000;
}

a:hover {
    color: #6392C6;
}

ul.category_list li a {
    cursor: pointer;
}

#pagination {
    margin-top: 30px;
}

.lis {
    list-style-type:none;
    text-align: left;
    height: 10px;
    cursor: pointer;
}

.lis a{
    color: #fff;
}

.hot_title {
    color: #e54724;
}

#search-error-container {
    color: #fff;
}

.comment_like {
    float: right;
    color: #e54724;
}

.source_website {
    float: right;
    color: #000;
}

span.keyword {
    color: #e54724;
}

.comment_list {
    cursor: pointer;
}

.comment_content {
    margin-bottom: 40px;
}



